* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0px;

}

ul {
    margin: 0;
    padding: 0;

}

ul>li {
    list-style: none;
}

.rent {
    background: radial-gradient(#203332, #161616);
    color: white;
    min-height: 100%;
    font-family: Arial, sans-serif;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #ECD774;
    margin-bottom: 100px;
}

.title span {
    color: #FFF;
}

h1 {
    margin: 0;
}

.rent-terns {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.rent_terns__item {
    margin-right: 50xp;
    text-align: center;
    width: 120px;
}

.rent-terns__img {
    margin-bottom: 20px;
    height: 50px;
}

.rent_terns__item:last-child {
    margin-right: 0;
}

.btn {
    border: none;
    border: 2px solid #ffd500;
    background-color: #ECD774;
    border-radius: 5px;
    padding: 8px 16px;
    box-shadow: 0 0 3px 2px #c7db0c;
    transition: all 0.3s;
    margin-bottom: 30px;
}

.btn:hover {
    background-color: rgb(192, 173, 62)
}

.rent__img {
    width: 80%;

}

@media (max-width: 425px) {
    .rent__img {
        display: none;
    }
}

@media (min-width: 1024px) {
    .rent__img {
        width: 800px;
    }
}